{% import 'mine/override_basemodel.jinja' as dp_ %}

{% macro hyphenated_concat(list) -%}
{%- for item in list -%}
  {%- if not loop.first -%}
    -
  {%- endif -%}
  {{ item }}
{%- endfor -%}
{%- endmacro %}

{#
  Typical Usage:
  {% import 'mine/dplib.jinja' as dplib %}{% set basemodel = dplib.detect_basemodel(model.filename) %}
#}
{% macro detect_basemodel(model_filename) -%}
{% set modelname = model_filename.split('\\')[-1] -%}
{% set ns = namespace(result = dp_.override_basemodel(modelname)) -%}
{% if ns.result == "unkn" -%}
  {%- set model_key_map = {
    'pdxl': 'pony',
    'pony': 'pony',
    'ilxl': 'ilxl',
    'pxl': 'pony',
    'ill': 'ilxl',
    'ixl': 'ilxl',
    'il': 'ilxl',
    'xl': 'sdxl',
    '': 'sd15',
  } -%}
  {%- for key, value in model_key_map.items() | reverse -%}
    {%- if key in modelname.lower() -%}
      {%- set ns.result = value -%}
    {%- endif -%}
  {%- endfor -%}
{% endif -%}
{{ ns.result }}
{%- endmacro %}